<div class="card">
  <div class="card-divider">
    <strong><%= user.name %></strong> has expressed interest for your <%= link_to "#{job_posting.job_type_name} job", job_posting_path(job_posting) %>.
    <p>Please reach out to <%= user.name %> to schedule him/her to do this job and below is his/her.</p> 
  </div>
  <div class="card-section">
    <strong>Contact Info</strong>
    <p><%= user.email %></p>
    <p><%= user.phone_number %></p>
    <p><%= link_to "Mark job as completed by #{user.name}", completed_job_request_path(job_request), method: :put %></p>
  </div>
</div>
