<div class="main">
    <header>
        <div class="wrap">
          <div class="">
            <div class="header-wrapper columns large-6">
                <h1>Sustainable Outdoor Maintenance Jobs</h1>
                <p>Help you community out by raking the lawn, shoveling the snow and mowning the lawn without power tools and earn money in doing so.</p>
            </div>

            <div class="columns large-6">
              <%= render 'users/registrations/form' %>
            </div>
          </div>
        </div>
        <!-- /.wrap -->
    </header>
    <div class="spanning">
        <div class="promo clearfix">
            <div class="wrap">
                <div class="promo-wrapper clearfix">
                    <div class="promo-column">
                        <%= image_tag "pin.png", height: "32", width: "24" %>
                        <h5>Places</h5>
                        <p>Find places near by where homeowners are looking for people to rake their lawn or shovel snow.</p>
                    </div>
                    <div class="promo-column">
                        <%= image_tag "easy.png", height: "32", width: "34" %>
                        <h5>Jobs</h5>
                        <p>Request a job to be done by posting the description and the payment amount for the job.</p>
                    </div>
                    <div class="promo-column">
                        <%= image_tag "settings.png", height: "32", width: "33" %>
                        <h5>Easy</h5>
                        <p>Easily connect via email or head over to your neighbors to help them out.</p>
                    </div>
                    <div class="promo-column">
                        <%= image_tag "saturn.png", height: "32", width: "32" %>
                        <h5>Sustainable</h5>
                        <p>By manually raking the lawn, shovling the snow or mowing the lawn you are helping out the environment.</p>
                    </div>
                </div>
            </div>
            <!-- /.wrap -->
        </div>
        <!-- /.promo clearfix -->
        <div class="discover clearfix">
            <div class="wrap">
                <div class="discover-content clearfix">
                    <h2>Discover</h2>
                    <p>Your neighborhood and help out the environment by doing outdoor maintenance jobs in your community while getting paid.</p>
                </div>
                <div class="discover-img">
                    <div class="discover-img-inside">
                      <%= image_tag "shovel.jpg" %>
                    </div>
                </div>
            </div>
            <!-- /.wrap -->
        </div>
        <!-- /.discover clearfix -->
        <div class="video clearfix">
            <div class="wrap">
                <div class="video-title">Explore. Walk &amp; Get Paid</div>
                <div class="video-subtitle">Just try it for yourself</div>
            </div>
            <!-- /.wrap -->
            <%= render template: "dashboards/show" %>
        </div>
    </div>
    <!-- /.spanning-columns -->
</div>
<!-- /.main -->
<footer>
    <div class="wrap">
        <p>&copy; 2017 <strong>Encore Dev Labs LLC</strong>, All Rights Reserved</p>
    </div>
    <!-- /.wrap -->
</footer>