<div class="medium-centered large-6 large-centered columns">
  <%= form_for(location) do |f| %>
    <h4 class="text-center"><%= location.new_record? ? 'Add your home' : 'Update your home' %> address</h4>
    <% if location.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

        <ul>
        <% location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :street %>
      <%= f.text_field :street, required: true %>
    </div>

    <div class="field">
      <%= f.label :suite %>
      <%= f.text_field :suite %>
    </div>

    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city, required: true %>
    </div>

    <div class="field">
      <%= f.label :state %>
      <%= f.text_field :state, required: true %>
    </div>

    <div class="field">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, required: true %>
    </div>

    <div class="actions">
      <%= f.submit location.new_record? ? 'Add New Address' : 'Update Address', :class => "button" %>
    </div>
  <% end %>
</div>
