<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row column log-in-form">
    <h4 class="text-center">Sign up or <%= link_to "Log in", new_session_path(resource_name) %></h4>
    <label>Name
      <%= f.text_field :name, autofocus: true, required: true %>
    </label>
    <label>Email
      <%= f.email_field :email, autofocus: true, required: true %>
    </label>
    <label>Password
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", required: true %>
    </label>
    <label>Phone Number
      <%= f.phone_field :phone_number, autofocus: true %>
    </label>

    <div>
      <label>Are you a Homeowner or Entitled to make outdoor maintenance decisions for properties you add to your account?</label>
      <label class="label-switch">
        <%= f.check_box :is_homeowner, :class => 'is_homeowner_radio', id: 'is_homeowner', checked: resource.is_homeowner %>
        <div class="checkbox"></div>
      </label>
    </div>

    <p class="float-right"><%= f.submit "Sign up", :class => "button" %></p>
  </div>
<% end %>
