<div class="medium-centered large-6 large-centered columns">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
    <%= devise_error_messages! %>
    <div class="row column log-in-form">
      <h4 class="text-center">Edit Profile</h4>
      <label>Name
        <%= f.text_field :name, autofocus: true, required: true %>
      </label>
      <label>Email
        <%= f.email_field :email, autofocus: true, required: true %>
      </label>
      <label>Phone Number
        <%= f.phone_field :phone_number, autofocus: true %>
      </label>

      <p class="panel clearfix">
        <div>Profile Photo</div>
        <%= image_tag resource.avatar.url, :class => "avatar" %>
        <%= f.file_field :avatar %>
      </p>

      <p>
        <%= link_to 'Edit Home Address(es)', locations_path %>
      </p>

      <p>Are you a Homeowner or Entitled to make outdoor maintenance decisions for properties you add to your account?</p>
      <label class="label-switch">
        <%= f.check_box :is_homeowner, :class => 'is_homeowner_radio', id: 'is_homeowner', checked: resource.is_homeowner %>
        <div class="checkbox"></div>
      </label>

      <p class="float-right"><%= f.submit "Update", :class => "button" %></p>
    </div>
  <% end %>

  <div class="row column">
    <h4>Cancel my account</h4>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "button alert" %></p>
  </div>
</div>
