<div class="medium-6 medium-centered large-4 large-centered columns">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <div class="row column log-in-form">
      <h4 class="text-center">Edit Profile</h4>
      <label>Name
        <%= f.text_field :name, autofocus: true %>
      </label>
      <label>Email
        <%= f.email_field :email, autofocus: true %>
      </label>
      <label>Phone Number
        <%= f.phone_field :phone_number, autofocus: true %>
      </label>

      <label class="radio-button" for="is_homeowner">Homeowner
      <%= f.radio_button :is_homeowner, 1, :class => 'is_homeowner_radio', id: "is_homeowner", checked: true %></label>

      
      <label class="radio-button" for="is_job_seeker">Job Seeker
      <%= f.radio_button :is_homeowner, 0, :class => 'is_homeowner_radio' , id: 
      'is_job_seeker' %>
      </label>

      <p><%= f.submit "Update", :class => "button" %></p>
    </div>
  <% end %>

  <h4>Cancel my account</h4>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "button alert" %></p>
</div>
